--- sandbox/stylesheets/default.qss.orig	2016-09-30 11:36:29.000000000 +0300
+++ sandbox/stylesheets/default.qss
@@ -58,6 +58,9 @@
 #ifdef __linux__
     #define FIXED_WIDTH_FONT_STYLE          font-family: "Courier New"
 #endif
+#ifdef __DragonFly__
+    #define FIXED_WIDTH_FONT_STYLE          font-family: "Courier New"
+#endif
 #ifdef __FreeBSD__
     #define FIXED_WIDTH_FONT_STYLE          font-family: "Courier New"
 #endif
