
$FreeBSD: devel/dbus-sharp/files/patch-src_dbus-sharp.dll.config 304823 2012-09-25 08:51:38Z romain $

--- src/dbus-sharp.dll.config.orig
+++ src/dbus-sharp.dll.config
@@ -1,3 +1,3 @@
 <configuration>
-  <dllmap dll="libsocket" os="!solaris" target="libc.so.6"/>
+  <dllmap dll="libsocket" os="!solaris" target="libc.so"/>
 </configuration>
