--- Makefile.config.orig	2014-09-19 13:39:10 UTC
+++ Makefile.config
@@ -102,7 +102,7 @@ PERLLIB    = $(DESTDIR)$(PERLSITELIB)
 # the LANG=C makes tr work as expected, not regarding any locale it
 # isn't done globally to enable users to have as much localized
 # errors as possible
-OSTYPE     := $(shell uname | LANG=C tr '[A-Z]' '[a-z]' | cut -f 1 -d _)
+OSTYPE     := freebsd
 
 # How to figure out the hostname. (Only used in default configuration
 # files)
