# $FreeBSD: head/sysutils/zrepl/files/zrepl.yml.sample 451049 2017-10-01 15:15:44Z woodsb02 $
#
# zrepl main configuration file.
# For documentation, refer to https://zrepl.github.io/
#
global:
  logging:
    syslog:
      enable: true
      format: logfmt

# Add "jobs:" section(s) here for your specific use cases.
