# hook_test_port_ended.sh
#
# $1 = "test_port_ended"
# $2 = <jail used>
# $3 = <port tree used>
# $4 = <full path to port>
# $5 = <ports built>
# $6 = <ports failed>
# $7 = <ports ignored>
# $8 = <ports skipped>
# $9 = <request successful>

SET_test_port_ended=fire_test_port_ended

fire_test_port_ended() {
  echo "The test_port request for ${4} has completed."
}
