# hook_port_build_success.sh
#
# $1 = "port_build_success"
# $2 = <jail used>
# $3 = <port tree used>
# $4 = <full path to port>

SET_port_build_success=fire_port_build_success

fire_port_build_success() {
  echo "Port ${4} built successfully."
}
