# hook_port_build_failure.sh
#
#  $1 = "port_build_failure"
#  $2 = <jail used>
#  $3 = <port tree used>
#  $4 = <full path to port>
#  $5 = <failed in stage>

SET_port_build_failure=fire_port_build_failure

fire_port_build_failure() {
  echo "Port ${4} failed in ${5} stage"
}
