# hook_bulk_build_start.sh
#
# $1 = "bulk_build_start"
# $2 = <jail used>
# $3 = <port tree used>
# $4 = <total queued>

SET_bulk_build_start=fire_bulk_build_start

fire_bulk_build_start() {
  echo "Bulk build ${2}-${3} has started."
}
