# hook_bulk_build_ended.sh
#
# $1 = "bulk_build_ended"
# $2 = <jail used>
# $3 = <port tree used>
# $5 = <total built>
# $6 = <total failures>
# $7 = <total ignored>
# $8 = <total skipped>

SET_bulk_build_ended=fire_bulk_build_ended

fire_bulk_build_start() {
  echo "Bulk build ${2}-${3} has ended."
}
