--- conf/poudriere.conf.sample.orig	2012-12-01 00:15:48.000000000 +0000
+++ conf/poudriere.conf.sample
@@ -42,24 +42,9 @@ BASEFS=/usr/local/poudriere
 # Use portlint to check ports sanity
 USE_PORTLINT=no
 
-# When building packages, a memory device can be used to speedup the build.
-# Only one of MFSSIZE or USE_TMPFS is supported. TMPFS is generally faster
-# and will expand to the needed amount of RAM. MFS is a bit slower, but is
-# more mature and can have its memory usage capped.
-
-# If set WRKDIRPREFIX will be mdmfs of the given size (mM or gG)
-#MFSSIZE=4G
-
-# If set WRKDIRPREFIX will be using tmpfs
-USE_TMPFS=yes
-
-# Use TMPFS the build pool/cache operations
-# # default: no
-#TMPFS_DATA=yes
-
 # If set the given directory will be used for the distfiles this allow the share
 # the distfiles between jails and ports tree
-DISTFILES_CACHE=/usr/ports/distfiles
+DISTFILES_CACHE=/usr/distfiles
 
 # Directory used to store "poudriere cron" files by default:
 # ${POUDRIERE_DATA}/cron
@@ -123,6 +108,23 @@ DISTFILES_CACHE=/usr/ports/distfiles
 # Cleanout the restricted packages
 # NO_RESTRICTED=yes
 
+# Set the host for the git update method
+GIT_HOST=koan.bondconsult.net
+
+# Set the URL for the dports git repository
+DPORTS_URL=git://github.com/jrmarino/DPorts.git
+
+# Set the localhost path for rsync (cpdup) to update dports repository
+# DPORTS_RSYNC_LOC=/home/generic/dports-merged
+
+# Where to look for hook scripts (default /usr/local/etc/hooks_poudriere)
+# HOOKDIR=/usr/local/etc/hooks_poudriere
+
 # By default MAKE_JOBS is disabled to allow only one process per cpu
 # Use the following to allow it anyway
 # ALLOW_MAKE_JOBS=yes
+
+# HSTJ (Half the slaves, twice the jobs)
+# To configure a 12-core machine as 6 slaves, 2 jobs each, set
+# ALLOW_MAKE_JOBS=yes and JOBS_LIMIT=2 (or =3 for 4x3)
+# JOBS_LIMIT=2
