
$FreeBSD: www/webmachine/files/patch-rebar.config 316384 2013-04-23 17:52:23Z olgeni $

--- rebar.config.orig
+++ rebar.config
@@ -4,6 +4,5 @@
 {edoc_opts, [{preprocess, true}]}.
 
 {deps, [
-        {mochiweb, "1.5.1*", {git, "git://github.com/basho/mochiweb",
-                              {tag, "1.5.1p5"}}}
+        {mochiweb, "1.5.1*"}
         ]}.
