--- src/etc/poudriere.conf.sample.orig	2015-12-17 12:38:30.000000000 +0200
+++ src/etc/poudriere.conf.sample
@@ -116,7 +116,7 @@ DISTFILES_CACHE=/usr/distfiles
 DFLY_GIT_URL=git://git.dragonflybsd.org/dragonfly.git
 
 # Set the URL for the dports git repository
-DPORTS_URL=git://github.com/jrmarino/DPorts.git
+DPORTS_URL=git://github.com/DragonFlyBSD/DPorts.git
 
 # Set the localhost path for rsync (cpdup) to update dports repository
 # DPORTS_RSYNC_LOC=/home/automaton/merged-ports
