<?php
/* $FreeBSD: databases/phpmyadmin/files/config.inc.php.sample 300896 2012-07-14 13:54:48Z beat $
 *
 * Skeleton configuration file -- this file is empty on a fresh
 * installaton of phpmyadmin.
 * 
 * Copy any settings you want to override from
 * libraries/config.default.php or visit /phpmyadmin/setup/ to generate a
 * basic configuration file
 * 
 */


?>
