<?php
/* $FreeBSD: ports/databases/phpmyadmin/files/config.inc.php.sample,v 1.5 2012/11/17 05:55:20 svnexp Exp $
 *
 * Skeleton configuration file -- this file is empty on a fresh
 * installaton of phpmyadmin.
 * 
 * Copy any settings you want to override from
 * libraries/config.default.php or visit /phpmyadmin/setup/ to generate a
 * basic configuration file
 * 
 */


?>
