--- rebar.config.orig	2016-08-21 03:17:37 UTC
+++ rebar.config
@@ -2,6 +2,6 @@
 {lib_dirs, ["deps"]}.
 {post_hooks,
  [
-	{"(linux|bsd|darwin|solaris)", compile, "./post_compile.escript"},
+	{"(linux|bsd|dragon|darwin|solaris)", compile, "./post_compile.escript"},
 	{"win32", compile, "escript.exe post_compile.escript"}
 ]}.
