--- hotspot/test/jprt.config.orig	2012-08-10 18:29:15.000000000 +0200
+++ hotspot/test/jprt.config	2013-01-03 08:50:36.342727000 +0100
@@ -113,7 +113,7 @@
     umask 002
     ;;
 
-  FreeBSD | OpenBSD )
+  FreeBSD | OpenBSD | DragonFly )
     # Add basic paths
     path4sdk=/usr/bin:/bin:/usr/sbin:/sbin
 
